<% @current_user_posts.each do |post| %>
  <p><%= post.message %></p><br/>
      <p><%= post.created_at.strftime("posted on %d/%m/%Y at %H:%M") %></p><br/>

    <%= link_to "Edit", edit_post_path(post), class: "ui inverted secondary button"%>
    <%= link_to "Delete", post_path(post.id), method: "delete", class: "ui inverted red button" %>

  <br>
<% end %>
