<%= form_for :photo, url: photos_path do |form| %>
 <label class='file-container'>
          <h2 id='file-upload-label'>Upload a file<h2>
           <%= form.file_field :image, name: "image" %>
        </label>
 
  <%= form.text_area :description, name: "description" %>
  <%= form.submit :Upload, name: "Upload" %>
<% end %>
