html, body {
  margin: 0;
  height: 100%;
}

p {
  font-size: 1.5em;
  white-space: pre-line;
}

body {
  margin-top: 8em;
}

#home {
  margin-right: 1em;
}

.form {
  margin: 1em;
}

.photo {
  height: 300px;
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em;
  min-height: 100%;
  text-align: center;
}

.footer_whitespace {
  height: 17em;
}

.ui.inverted.vertical.footer.segment {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.container.post {
  margin: 2.5em;
  text-align: center;
}

.ui.small.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 100%; 
  border-radius: 50%;
  overflow: hidden;
}



.animate {
  border-radius: 10%;
  margin: 5%;
  border: 5px double;

  -webkit-animation-name: konami;
  -webkit-animation-duration: 8s;
  animation-name: konami;
  animation-duration: 3s;
}

textarea {
  resize: none;
}

@keyframes konami {
  0%   {transform: rotate(-720deg);}
  100% {transform: rotate(0deg);}
}