html, body {
  margin: 0;
  height: 100%;
}

p {
  font-size: 1.5em;
  white-space: pre-line;
}

body {
  margin-top: 8em;
}

#home {
  margin-right: 1em;
}

.photo {
  height: 300px;
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em;
  min-height: 100%;
}

.footer_whitespace {
  height: 14em;
}

.ui.inverted.vertical.footer.segment {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.container.post {
  margin: 2.5em;
  text-align: center;
}
